@model IEnumerable<VaccineWeb.Preview.Models.Reports.Products.ProductDetailReport>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            ProductName
        </th>
        <th>
            Price
        </th>
        <th>
            Stock
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AggregateRootId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AggregateRootId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AggregateRootId })
        </td>
        <td>
            @item.ProductName
        </td>
        <td>
            @String.Format("{0:F}", item.Price)
        </td>
        <td>
            @item.Stock
        </td>
       
    </tr>
}

</table>

