@model IEnumerable<VaccineWeb.Preview.Models.Reports.Orders.CustomerOrdersDetailReport>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            CustomerName
        </th>
        <th>
            ProductName
        </th>
       
        <th>
            Quantity
        </th>
        <th>
            TotalAmount
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AggregateRootId, rowId = item.RowId, customerId = item.CustomerId, productId = item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AggregateRootId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AggregateRootId})
        </td>
        <td>
            @item.CustomerName
        </td>
        <td>
            @item.ProductName
        </td>
       
        <td>
            @item.Quantity
        </td>
        <td>
            @String.Format("{0:F}", item.TotalAmount)
        </td>
       
    </tr>
}

</table>

